.container {
    width: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
}

img.octocat {
    height: 200px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.toprow {
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.middlerow {
    background-color: gold;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
}

.bottomrow {
    background-color: darkgray;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}

p {
    text-align: center;
}